# Pinegrow working files
.pinegrow.json
_pgbackup/
*.pgbackup

# Backend
node_modules/
__pycache__/
venv/
.env
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

*.swp
*_BASE_*.html
*_BACKUP_*.html
*_LOCAL_*.html
