<header class="main-header">
    <div class="header-container">
        <img src="/img/logo-removebg.png" alt="Regenda logo" class="logo">
        <nav class="nav-links">
            <a href="index.html">Welcome</a>
            <a href="profile.html">Profile</a>
            <a href="services.html">Services</a>
        </nav>
        <div class="language-switcher">
            <button data-language="en">EN</button>
            <button data-language="de">DE</button>
        </div>
    </div>
</header>
